.head_img img{
  width: 100%;
}
.nav_new .navbar-brand {
  color: #333;
}

.nav_new .navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}

.head_img img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(../fonts/raleway-bold.woff2) format("woff2");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway Regular"), local("Raleway-Regular"), url(../fonts/raleway-regular.woff2) format("woff2");
}

body {
  font-family: 'raleway',sans-serif;
}

.nav_new .navbar-nav .active a,
.nav_new .navbar-nav .active a:focus,
.nav_new .navbar-nav .active a:hover {
  color: #00B906;
  background-color: transparent;
}

.nav_new .navbar-nav li a {
  color: #333;
}

.nav_new .navbar-nav li a:hover {
  color: #00B906;
}


